.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #FFFAF0 56.4%, rgba(255, 255, 255, 0) 100%);
    overflow-x: hidden;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
    transform: translateX(-200px);
}

.sidenav.open {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .sidenav {
        width: 100%;
        transform: translateX(-100%);
    }

    .sidenav.open {
        transform: translateX(0);
    }
}

.nav-list li {
    list-style: none;
    height: 100px;
}

.nav-list li:hover {
    background: #F1AC33;
    padding: 5px;
}

.nav-list li {
    background-color: white;
    border: 2px solid white;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
@media (min-width: 1028px) {
    .sidenav {
        width: 20%;
        transform: translateX(0);
    }

    .sidenav.open {
        transform: translateX(0);
    }

    .toggle-button {
        display: none;
    }
}